/* import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    background-color: #F5FBFC;
    margin: auto;
}

.Fresh {
    max-width: 1200px;
    height: 614px;
    display: flex;
    margin-top: -74px;
    margin-left: 91px;
    gap: 72px;
}

.fresh_texts {
    width: 578px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fresh_h {
    width: 374px;
    height: 55px;
    margin-bottom: 100px;
    font-size: 51px;
    margin-top: -15px;
    font-family: "Inter", sans-serif;
    color: #35B8BE;
    font-weight: 400;
}

.fresh_paragarf {
    width: 518px;
    height: 81px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 47px;
}

.fresh_btn {
    width: 194px;
    height: 60px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background-color: #35B8BE;
}