.support {
  display: flex;
  width: 100%;
  height: 400px;
  border: 3px solid #1e90ff;
}

.support-left {
  flex: 1;
}

.support-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.support-right {
  flex: 1;
  background: #39b7b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.support-right h2 {
  color: white;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 25px;
}

.support-right h2 span {
  font-weight: 600;
}

.support-right button {
  width: 140px;
  padding: 12px;
  border: none;
  background: white;
  cursor: pointer;
}
