.site__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar {                 
  display: flex;
  margin-left: 600px;
}

 ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.h {
  color: rgba(53, 184, 190, 1);
}

.h1 {
  color: black;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius:  4px;
  background: rgba(53, 184, 190, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
